<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Avaliações</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark" padding>
  <ion-card color="tertiary" *ngFor="let partialGrade of partialGrades; index as i">
    <ion-card-header>
      {{ partialGrade.discipline.name }}
    </ion-card-header>
    <ion-card-content>

      <ion-list>
        <ion-item *ngFor="let evaluation of partialGrade.evaluations; index as a">
          <ion-title>{{ evaluation.title }}</ion-title>
          <ion-label>Descrição: {{ evaluation.description }}</ion-label>
          <ion-label>Peso: {{ evaluation.weight }}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>