<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Em Curso</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <ion-card color="tertiary" *ngFor="let discipline of disciplines; index as i">
    <ion-card-header>
      {{ discipline.name }}
    </ion-card-header>
    <ion-card-content>
      <p>Professor(a): {{ discipline.teacherName }}</p>
    </ion-card-content>
    <ion-item>
      <ion-button color="tertiary" slot="start">
        <ion-icon name="alert" slot="start"></ion-icon>
        <p>Faltas: {{ discipline.absenses }}</p>
      </ion-button>
      <ion-button color="tertiary" slot="end">
        <ion-icon name="person" slot="start"></ion-icon>
        <p>Presenças: {{ discipline.presences }}</p>
      </ion-button>
    </ion-item>
  </ion-card>
</ion-content>