<ion-content color="dark">
  <form #form="ngForm" (ngSubmit)="login(form)">
    <ion-grid>
      <ion-row justify-content-center>
        <ion-col align-self-center size-md="12" size-lg="12" size-xs="12">
          <ion-card color="light">
            <ion-card-content>
              <div text-center>
                <ion-img class="logo" src="assets/img/fatec.png"></ion-img>
                <ion-title color="tertiary">Franca</ion-title>
              </div>
              <div padding>
                <ion-note>Informe suas credênciais do SIGA</ion-note>
                <ion-item>
                  <ion-label position="floating">R.G.</ion-label>
                  <ion-input name="login" type="text" placeholder="ex: 453664338SP" ngModel required></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label position="floating">Senha</ion-label>
                  <ion-input name="password" type="password" placeholder="ex: 123" ngModel required></ion-input>
                </ion-item>
              </div>
              <div padding>
                <ion-button color="tertiary" size="medium" type="submit" [disabled]="form.invalid" expand="block">Login
                </ion-button>
                <ion-button color="dark" size="small" (click)="esqueceu()" expand="block">Esqueceu sua senha?
                </ion-button>
              </div>
            </ion-card-content>
          </ion-card>
          <ion-item color="dark">
            <ion-buttons slot="end">
              <ion-badge color="tertiary" size="small">Versão: {{version}}</ion-badge>
            </ion-buttons>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>