<ion-content color="primary">
  <form #form="ngForm" (ngSubmit)="login(form)">
    <ion-grid>
      <ion-row justify-content-center>
        <ion-col align-self-center size-md="12" size-lg="12" size-xs="12">
          <ion-card color="light">
            <ion-card-content>
              <div text-center>
                <ion-img class="logo" src="assets/img/fatec.png"></ion-img>
                <ion-note color="primary">Por favor, insira suas credências do SIGA</ion-note>
              </div>
              <div padding>
                <ion-item>
                  <ion-input name="login" type="text" placeholder="Número R.A." ngModel required></ion-input>
                </ion-item>
                <ion-item>
                  <ion-input name="password" type="password" placeholder="Senha" ngModel required></ion-input>
                </ion-item>
              </div>
              <div padding>
                <ion-button color="success" size="medium" type="submit" [disabled]="form.invalid" expand="block"
                  >Login
                </ion-button>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
