<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Utilidades</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">

  <ion-card color="tertiary">
    <ion-card-header>
      Fatec Franca
    </ion-card-header>
    <ion-item>
      CNPJ/MF: 62.823.257/0109-10
    </ion-item>
    <ion-item>
      Rua Irênio Grecco nº 4580
    </ion-item>
    <ion-item>
      Vila Imperador
    </ion-item>
    <ion-item>
      Franca/SP
    </ion-item>
    <ion-item>
      14405-191
    </ion-item>

    <ion-item>
      Telefone: (16) 3702-3204
    </ion-item>
    <ion-item>
      Fax: (16) 3702-2854
    </ion-item>

    <ion-item>
      fatecfranca@fatecfranca.edu.br
    </ion-item>

    <ion-item>
      <ion-label>Senha da rede</ion-label>
      <ion-button color="dark">
        f.franca*
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-button color="dark" (click)="openLink('https://site.fatecfranca.edu.br/')">
        Site Fatec Franca
      </ion-button>
    </ion-item>
    <ion-item>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3736.788888021769!2d-47.40291598576298!3d-20.51487878627894!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94b0a650b93c4b5f%3A0xbe0e42f3aa42525c!2sFatec%20Franca%20-%20Faculdade%20de%20Tecnologia%20de%20Franca%20Dr%20Thomaz%20Novelino!5e0!3m2!1spt-BR!2sbr!4v1568400336386!5m2!1spt-BR!2sbr"
        width="400" height="300" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
    </ion-item>
  </ion-card>

  <ion-card color="tertiary">
    <ion-card-header>
      Links Úteis
    </ion-card-header>
    <ion-item>
      <ion-button color="dark" (click)="openLink('https://mail.office365.com/')">
        E-mail Institucional
      </ion-button>
    </ion-item>

    <ion-item>
      <ion-button color="dark" (click)="openLink('https://onedrive.live.com/about/pt-br/')">
        One Drive
      </ion-button>
    </ion-item>

    <ion-item>
      <ion-button color="dark" (click)="openLink('https://aka.ms/devtoolsforteaching/')">
        Microsoft Store
      </ion-button>
    </ion-item>

    <ion-item>
      <ion-button color="dark"
        (click)="openLink('https://www.autodesk.com.br/education/free-educational-software#license/')">
        AutoDesk Store
      </ion-button>
    </ion-item>

  </ion-card>


</ion-content>