<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ weekday }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <ion-item color="dark">
    <ion-label>Hoje você tem {{ schedule?.periods?.length }} aulas!</ion-label>
  </ion-item>
  <ion-card *ngFor="let period of schedule.periods; index as i" button="true" color="tertiary">
    <ion-card-header>
      {{ period.discipline.name }}
    </ion-card-header>
    <ion-card-content>
      <p>Professor(a): {{ period.discipline.teacherName }}</p>
    </ion-card-content>
    <ion-item>
      <ion-button color="tertiary" slot="start">
        <ion-icon name="clock" slot="start"></ion-icon>
        {{ period.startAt | date: 'HH:mm' }} -
        {{ period.endAt | date: 'HH:mm' }}
      </ion-button>
      <ion-button color="tertiary" slot="end">
        <ion-icon name="book" slot="start"></ion-icon>
        Material
      </ion-button>
    </ion-item>
  </ion-card>
</ion-content>
