<ion-app>
  <ion-menu side="start" contentId="menu-content" type="overlay">
    <ion-header>
      <ion-toolbar>

        <ion-item color="dark">
          <ion-avatar slot="start">
            <img [src]="sessionService.getPhoto()">
          </ion-avatar>
          <ion-title>{{sessionService.getFirstName()}}</ion-title>
        </ion-item>


      </ion-toolbar>
    </ion-header>
    <ion-content id="menu-content" color="dark">
      <ion-button (click)="closeMenu()" color="tertiary" expand="full" [routerLink]="['/home']">
        <ion-icon name="clock" slot="start"></ion-icon>
        Horários
      </ion-button>
      <ion-button (click)="closeMenu()" color="tertiary" expand="full" [routerLink]="['/grade']">
        <ion-icon name="bookmarks" slot="start"></ion-icon>
        Grade
      </ion-button>
      <ion-button (click)="closeMenu()" color="tertiary" expand="full" [routerLink]="['/avaliacoes']">
        <ion-icon name="clipboard" slot="start"></ion-icon>
        Avaliações
      </ion-button>
      <ion-button (click)="closeMenu()" color="tertiary" expand="full" [routerLink]="['/em-curso']">
        <ion-icon name="book" slot="start"></ion-icon>
        Em Curso
      </ion-button>
      <ion-button (click)="closeMenu()" color="tertiary" expand="full" [routerLink]="['/eventos']">
        <ion-icon name="beer" slot="start"></ion-icon>
        Eventos
      </ion-button>
      <ion-button (click)="closeMenu()" color="tertiary" expand="full" [routerLink]="['/util']">
        <ion-icon name="hammer" slot="start"></ion-icon>
        Utilidades
      </ion-button>
      <ion-button (click)="github()" color="tertiary" expand="full">
        <ion-icon name="logo-github" slot="start"></ion-icon>
        Contribua
      </ion-button>
      <ion-button (click)="sair()" color="tertiary" expand="full">
        <ion-icon name="close" slot="start"></ion-icon>
        Sair
      </ion-button>
    </ion-content>
  </ion-menu>

  <ion-router-outlet></ion-router-outlet>
</ion-app>