<ion-app>
  <ion-menu side="start" contentId="menu-content" type="overlay">
    <ion-header>
      <ion-toolbar>

        <ion-item color="dark">
          <ion-avatar slot="start">
            <img [src]="sessionService.getPhoto()">
          </ion-avatar>
          <ion-title>{{sessionService.getFirstName()}}</ion-title>
        </ion-item>

      </ion-toolbar>
    </ion-header>
    <ion-content id="menu-content" color="dark">
      <ion-button (click)="closeMenu()" color="tertiary" expand="full" [routerLink]="['/home']">
        Home
      </ion-button>
      <ion-button (click)="closeMenu()" color="tertiary" expand="full" [routerLink]="['/grade']">Grade</ion-button>
      <ion-button (click)="closeMenu()" color="tertiary" expand="full" [routerLink]="['/avaliacoes']">Avaliações
      </ion-button>
      <ion-button (click)="closeMenu()" color="tertiary" expand="full" [routerLink]="['/em-curso']">Em Curso
      </ion-button>
      <ion-button (click)="closeMenu()" color="tertiary" expand="full" [routerLink]="['/eventos']">Eventos
      </ion-button>
      <ion-button (click)="closeMenu()" color="tertiary" expand="full" [routerLink]="['/util']">Utilidades
      </ion-button>
      <ion-button (click)="github()" color="tertiary" expand="full">Contribua</ion-button>
      <ion-button (click)="sair()" color="tertiary" expand="full">Sair</ion-button>
    </ion-content>
  </ion-menu>

  <ion-router-outlet></ion-router-outlet>
</ion-app>